/.bashrc
/.embedchain
/.env
/.idea
/.ipython
/.lightning_studio
/.lightningignore
/.nv
/.ollama
/.vscode
/.zcompdump
/.zshrc
/__pycache__
/main.py
/test.py
/.condarc
/.config
/.gitconfig
/.hushlogin
/.docker
/.jupyter
/.local
/.oh-my-zsh